body {
    background-color: rgb(35, 32, 32);
}

* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3% 0;
    border: red solid 3px;
    width: 90%;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
  }  

  .meme {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-right: 5%;
  }

  .meme:last-child {
    margin-right: 0;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 5% 0;  
  }

  .txt-wrapper {
     
  }

  .txt-list {   
    margin: 0;
    padding: 0;
    width: 341px;
    overflow: hidden;
  }

  .txt-point {
    display: table-cell;
    list-style-type: none;
  }

  .caption {
    width: 341px;
    color: #ccc;
    text-align: left;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-top: 0;
  }

  .btn-wrapper {
    display: flex;
  }

  .control-bar {
    display: inline-flex;
    width: 27px;
    
  }

/* Радио-кнопка */

  label {
    cursor: pointer;
    width: 27px;
    height: 27px;
  }

  label .radio_input {
    display: none;    
  }

    /* Фейковая радио-кнопка с требуемой стилизацией */
  .custom-btn {  
    display: block;
    width: 17px;
    height: 17px;
    background: rgb(72, 120, 162);
    border: 3px solid rgb(72, 120, 162);
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
  }
  
  .control-bar:hover {
    cursor: pointer;
  }

  .custom-btn:hover {
    border: 3px solid #ccc;
    background-color: #ccc;
    transition: all 1.3s ease;
  }

  input[type="radio"]:checked + .custom-btn {
    background-color: rgb(35, 32, 32);
    border-color: rgb(72, 120, 162);
  }

  input[type="radio"]:checked + .custom-btn:hover {
    border-color: #ccc;
    transition: all 1.3s ease;
  }

  input[type="radio"]:hover + .custom-btn {
    border: 3px solid #ccc;
    background-color: #ccc;
  }

  input[type="radio"]:checked:hover + .custom-btn {
    border: 3px solid #ccc;
    background-color: rgb(35, 32, 32);
  }